<h1>Mi componente que esta desde el archivo es: </h1>
<br>
<small>saludar.component.html</small>
<input type="text" name="" id="">

<p>
    Soy una piña xd
</p>

<div>
    <input type="text"id="n1" [value]="nombreLista" autofocus>
    <br>
    <button (click)="onButtonClick()">Añadir nombre</button>
</div>

<p (click)="onClick()"><!--aqui decimos que al dar click en el parrafo va a ejercutar la accion del mensaje-->
    Hola {{nombre}} <!--la interpolacion es la concatenacion, 
        porque sale del codigo de la variable que se lleno en en ts y no se esta usando el input
        en otras palabras se esta enviando directamente-->
</p>

